.main-header {
    text-align: center;
}

.main-header:hover {
    transform: scale(1.07);
    transition: all 0.3s ease;
    text-decoration: underline;
}

.nav-link {
    color: #000000;
    margin-right: 5px;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:hover {
    border: 2px rounded blue;
}

.active {
    background: #D6B4FC;
    border-radius: 10px;
    border: 2px solid gray;
    font-weight: bold;
}

.main-cont {
    background: #D6B4FC;
    border: 2px solid black;
    padding: 12px;
}

.row {
    padding: 10px;
}

.title:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    border: 2px solid black;
    padding: 4px;
}

.title2:hover {
    transform: scale(0.85);
    transition: all 0.3s ease;
    border: 2px solid red;
    padding: 4px;
}

.smaller-title:hover {
    transform: scale(1.03);
    transition: all 0.3s ease;
    border: 2px solid black;
    padding: 4px;
}

.page-primary {
    /* other cool colors I found: #F8EEEC*/
    background-color: #FFF1E6;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
}

/* take up a certain width of the container, with a max width for prevention.
*  border-radius and box shadow to look cooler */
.hero-img {
    width: 80%;
    max-width: 600px;
    height: auto;            
    display: block;       
    margin: 20px auto;
    border-radius: 10px;       
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* ofc I'm gonna make it scale */
.hero-img:hover {
    transform: scale(1.04);
    transition: all 0.3s ease;
}

.button-group {
    display: flex;
    justify-content: center;
    padding: 10px;
}