.main-header {
    text-align: center;
}

.main-header:hover {
    transform: scale(1.07);
    transition: all 0.3s ease;
    text-decoration: underline;
}

.nav-link {
    color: #000000;
    margin-right: 5px;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:hover {
    border: 2px rounded blue;
}

.active {
    background: #D6B4FC;
    border-radius: 10px;
    border: 2px solid gray;
    font-weight: bold;
}

.main-cont {
    background: #D6B4FC;
    border: 2px solid black;
    padding: 12px;
}

.row {
    padding: 10px;
}

.title:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    border: 2px solid black;
    padding: 4px;
}

.title2:hover {
    transform: scale(0.85);
    transition: all 0.3s ease;
    border: 2px solid red;
    padding: 4px;
}

.smaller-title:hover {
    transform: scale(1.03);
    transition: all 0.3s ease;
    border: 2px solid black;
    padding: 4px;
}